
body {
    background-color: #CCFFFF;
}

#header {
    position: relative;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    vertical-align: middle;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#topcontent {
    padding: 5px;
    background-color: #FF00FF;
    position: relative;
    vertical-align: top;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#maincontent {
    vertical-align: bottom;
    position: relative;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#product_label {
    line-height: 26px;
    position: relative;
    width: auto;
    float: left;
    text-align: right;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#quantity {
    position: relative;
    width: auto;
    float: left;
    text-align: left;
    line-height: 26px;
    margin-left: 20px;
    z-index: 999;
    font-family: Arial, Helvetica, sans-serif;
}

.textbox {
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

#prices {
    line-height: 26px;
    position: relative;
    width: auto;
    float: left;
    text-align: left;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#totals {
    line-height: 25px;
    position: relative;
    width: auto;
    float: left;
    text-align: right;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons /* This is formatting the individual buttons that call it*/ {
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

#footer {
    position: relative;
    float: left;
    width: 100%;
    padding: 5px;
    vertical-align: bottom;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
