body {
    width: 1000px;
    background-color: #DFFFF7;
    font-family: Calibri;
}

#banner {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: xx-large;
    left: -6px;
    background-color: #02AFBD;
    font-family: 'Trebuchet MS';
    color: #FFFFFF;
    font-weight: bold;
    font-variant: normal;
}

#left {
    position: relative;
    float: left;
    width: 20%;
    text-align: center;
}

#right {
    position: relative;
    float: left;
    width: 78%;
    top: -1px;
    left: 2px;
}

#bottom {
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
    font-family: 'Trebuchet MS';
    color: #02afbd;
    font-size: small;
}

#center {
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
    font-family: Calibri;
    font-size: small;
}

#label {
    position: relative;
    float: left;
    width: 20%;
    text-align: right;
    line-height: 26px;
}

#textbox {
    position: relative;
    float: left;
    width: 40%;
    text-align: left;
    line-height: 25px;
}

#image {
    float: left;
    width: 30%;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
}

#buttons {
    float: right;
    width: 35%;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
}


